.header {
    height: 7vh;
    display: flex;
    
}

.header__navmenu {
    display: flex;
    align-items: center;
    padding-left: 7vw;
}

.navmenu__list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__navmenu li,a {
    text-decoration: none;
    list-style: none;
    display: flex;
    color: var(--cor-primaria);
    margin-top: 2vh;
    font-family: var(--fonte-secundaria);
    font-size: 1,2rem;
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .header {
        justify-content: center;
    }

    .header__navmenu {
        padding-left: 0;  
    }

    .navmenu__list {
        
        gap: 1rem;
    }

    .header__navmenu li,a {
        font-size: clamp(14px, 4vw, 20px);
    }
}